<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dms_idea.dao.BuildingMapper">

    <select id="getBuildingList">
        select *
        from dormitory_management_system.view_get_all_building_manager

        <where>
            <if test="name!=null">and name like concat('%',#{name},'%')</if>
            <if test="unit_number!=null">and unit_number = #{unit_number}</if>
            <if test="dor_number!=null">and dor_number >= #{dor_number}</if>
            <if test="stu_number!=null">and stu_number >= #{stu_number}</if>
            <if test="manager_id!=null">and manager_id = #{manager_id}</if>
        </where>
        <if test="prop!=null">
            order by ${prop} ${order}
        </if>
    </select>

    <select id="ifNameHave">
        select id, name
        from dormitory_management_system.building
        where name = #{name}
    </select>

    <insert id="addBuilding">
        insert into dormitory_management_system.building(name, manager_id, unit_number)
        VALUES (#{name}, #{managerId}, #{unitNumber});
    </insert>

    <insert id="addBuildingInfo">
        insert into dormitory_management_system.building_info(building_id, update_time)
        VALUES (#{id}, now());
    </insert>

    <select id="getBuildingInfo">
        select *
        from dormitory_management_system.view_get_all_building_info
        where id = #{buildingId}
    </select>

    <update id="updateBuildingInfo">
        update dormitory_management_system.building,dormitory_management_system.building_info
        set name=#{name},
            manager_id=#{manId},
            unit_number=#{unitNumber},
            build_year=#{buildYear},
            introduction=#{introduction},
            picture=#{picture},
            update_time=now(),
            floor_number=#{floorNumber}
        where id = #{id}
          and building_id = #{id}
    </update>

    <select id="getOnlyName">
        select id, name
        from dormitory_management_system.building
    </select>

    <select id="getUnitAndFloor">
        select unit_number as unitNumber, floor_number as floorNumber
        from dormitory_management_system.building,
             dormitory_management_system.building_info
        where id = #{id}
          and id = building_info.building_id
    </select>

    <update id="addDormitoryNumber">
        update dormitory_management_system.building
        set dor_number = dor_number + #{num}
        where id = #{buildingId}
    </update>

    <update id="addStudentNumber">
        update dormitory_management_system.building
        set stu_number = stu_number + #{num}
        where id = #{id}
    </update>

    <select id="getdorNumber">
        select dor_number
        from dormitory_management_system.building
        where id = #{id}
    </select>

    <select id="getManId">
        select manager_id
        from dormitory_management_system.building
        where id = #{id}
    </select>

    <delete id="deleteBuildingInfo">
        delete
        from dormitory_management_system.building_info
        where building_id = #{id}
    </delete>

    <delete id="deleteBuilding">
        delete
        from dormitory_management_system.building
        where id = #{id}
    </delete>
</mapper>