<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dms_idea.dao.ManagerMapper">
    <select id="getAllManagerName">
        select id,name,work_id as workId from dormitory_management_system.manager , dormitory_management_system.user
    </select>


</mapper>