<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dms_idea.dao.UserMapper">

    <select id="getUser">
        select id, role, name
        from dormitory_management_system.user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="ifUsernameHave">
        select *
        from dormitory_management_system.user
        where username = #{username}
    </select>

    <insert id="addUser">
        insert into dormitory_management_system.user(username, password, role, name)
        VALUES (#{username}, #{password}, #{role}, #{name})
    </insert>

    <select id="getUserIdByUsername">
        select id
        from dormitory_management_system.user
        where username = #{username}
    </select>

    <update id="updateName">
        update dormitory_management_system.user
        set name = #{name}
        where id = #{id}
    </update>

    <update id="updatePassword">
        update dormitory_management_system.user
        set password=#{password}
        where id=#{id}
    </update>

    <select id="getUserRoleById">
        select role from dormitory_management_system.user where id=#{id}
    </select>

    <delete id="deleteUserById">
        delete from dormitory_management_system.user
        where id=#{id}
    </delete>

    <select id="getUserByUsername">
        select *
        from dormitory_management_system.user where username=#{username};
    </select>
</mapper>